<footer class="web-footer footer bg-color-blackflame all-text-content-white">
    <div class="footer-widgets pt-85px pb-55px">
        <div class="container">
            <div class="row large-gutters">
                <div class="col-lg-5 mb-30px">
                    <div class="footer-widget">
                        <h3>Paulappz</h3>
                        <p class="pt-20px pt-lg-155px">© 2018 Paulappz Themes</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-30px">
                    <div class="footer-widget">
                        <h5 class="widget-title">Twitter Posts</h5>
                        <div id="twitterfeed">
                            <ul class="list-unstyled tweets-simple-list">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-30px">
                    <div class="footer-widget">
                        <h5 class="widget-title">Contact us</h5>
                        <p>ABC , XXXX Avenue, New York City, NY XXX</p>
                        <p>00000-0000-000
                            <br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="34575b5a4055574074615950551a575b59">[email&#160;protected]</a></p>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/paul.oluyege">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://instagram.com/serial_enterprenuer_developer">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/paul-oluyege-59b58a5b">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/SerialEnterpDev">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>