<app-title-header></app-title-header>
<div *ngIf='isLoggedIn'>
<a routerLink="/create" style="float: left;margin:-50px 0px 0px 100px;background-color: orangered;color: white" class="button btn">New Post</a>
<button (click)="logOut()" style="float: right;margin:-50px 100px 0px 0px;background-color: black;color: white" class="button btn">Logout</button>
</div>

    <a *ngIf='!isLoggedIn' routerLink="/login" style="float: left;margin:-50px 0px 0px 100px;background-color: orangered;color: white" class="button btn">Admin login</a>
  
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row blog_posts stander_blog">  
                <div class="col-md-6 col-lg-4" *ngFor="let article of articles; index as i">
                    <article>
                        <a routerLink="post/{{article._id}}">
                            <div class="post_img card-blog-img">
                                <img src="https://{{article.photo}}" alt="Card image cap">
                                <a href="#">
                                    <span class="card-blog-meta bg-color-yellowish">{{article.tag}}</span>
                                </a>
                            </div>
                        </a>
                            <div class="card-blog-content">
                                <h5 class="post_title">
                                    <a href="#">{{article.title}}
                                    </a>
                                </h5>
                                <div class="post_meta_top">
                                    <span class="post_meta_date">{{article.createdOn}}</span>
                                </div>
                                <div class="post_content">
                                    <p [innerHTML]="article.body.substr(0,120) + '....'">
                                    </p>
                                </div>
                              <div *ngIf='isLoggedIn'> <td><a routerLink="edit/{{article._id}}" class="button btn btn-primary btn-sm">Edit</a></td>
                                <td><button (click)="deleteAdUnit(index,article._id)" class="button btn btn-danger  btn-sm">Delete</button></td>
                            </div> 
                            </div>
                        <!-- </a> -->
                       
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>