<app-title-header></app-title-header>
<div  style="padding-bottom: 3rem!important;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <!-- form card login -->
      <div class="card rounded-0">
          <h3 style="text-align:center" class="mb-0">Create Post</h3>
          <div class="card-header">
            </div>
        <div class="card-body">
          <form (ngSubmit)="postForm.form.valid && onSubmit()" #postForm="ngForm" novalidate>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title"
                #title="ngModel" [ngClass]="{ 'is-invalid': postForm.submitted && title.invalid }" required>
              <div *ngIf="postForm.submitted && title.invalid" class="alert alert-danger">
                Title is required
              </div>
            </div>

            <div class="form-group">
              <label for="body">Body</label>
              <textarea class="form-control" id="body" [(ngModel)]="model.body" name="body" #body="ngModel"
[ngClass]="{ 'is-invalid': postForm.submitted && body.invalid }" required></textarea>
              <div *ngIf="postForm.submitted && body.invalid" class="alert alert-danger">
                <div *ngIf="body.errors.required">This field is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="tag">Post Tag</label>
              <select style="height:50px"class="form-control" id="tag" required [(ngModel)]="model.tag" name="tag"
               #tag="ngModel">
                  <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
              </select>
              <div *ngIf="postForm.submitted && tag.invalid" class="alert alert-danger">
                  Tag is required
              </div>
          </div>
          <div class="form-group">
            <label>Upload Image</label>
            <div class="input-group">
                        <input type="file" class="form-control" id="photo" [(ngModel)]="model.photo" name="photo" #photo="ngModel"
                        [ngClass]="{ 'is-invalid': postForm.submitted && photo.invalid }" required>
                      <div *ngIf="postForm.submitted && photo.invalid" class="alert alert-danger">
                        <div *ngIf="photo.errors.required">This field is required</div>
                      </div>
                <input type="text" class="form-control" readonly>
            </div>
            <img id='photo'/>
        </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>