.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .list-type1{
    color:#fff;
    width:300px;
    min-width: 300px;
    margin:0 auto;
    font-weight: normal;
    }
    
    .list-type1 ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
    }
    .list-type1 ol ol{
    margin: 0 0 0 2em;
    }
    
    .list-type1 span{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #55acee;
    color: #000;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: 10em;
    transition: all .2s ease-in-out;
    }
    
    .list-type1 span:hover{
    background: #d6d4d4;
    text-decoration:none;
    transform: scale(1.1);
    }
    
    .list-type1 span:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background:#55acee;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
    }
    .list-type1 ol.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }