<div class="bg-img-71 py-100px py-md-200px mb-80px">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center all-text-content-white">
              <h1>MEAN Stack Courseware Blog Application Project</h1>
              <p>Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
                  dapibus pertinax vix, varius cursus turpis dign issim id aliquam habemus tractatos.</p>
          </div>
      </div>
  </div>
</div>