<nav class="navbar navbar-expand-lg navbar-dark absolute_header">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="etcodes-normal-logo" src="assets/images/logo-light.png" width="84" height="22" alt="Logo">
      <img class="etcodes-mobile-logo" src="assets/images/logo.png" width="84" height="22" alt="Logo">
    </a>
    <button class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span>toggle menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mega_menu_holder">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
          <ul class="dropdown-menu mega_menu">
            <li class="nav-item">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Tech</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="#">Tech</a>
              </ul>
            </li>
            <li class="nav-item">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Business</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="#">Tech</a>
              </ul>
            </li>
            <li class="nav-item">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Food</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="#">Tech</a>
              </ul>
            </li>
            <li class="nav-item">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Travels</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="#">Tech</a>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>